# common
.env

.vscode

# rails
# See https://help.github.com/articles/ignoring-files for more about ignoring /.bundle
api/log/*
api/tmp/*
!api/log/.keep
!api/tmp/.keep
api//tmp/pids/*
!api/tmp/pids/
!api/tmp/pids/.keep
api/storage/*
!api/storage/.keep
api/tmp/storage/*
!api/tmp/storage/
!api/tmp/storage/.keep
api/config/master.key
